version: "3.8"
services:
  mongo:
    image: mongo:6
    container_name: mobility-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: mobilitydb
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
